# python specific ignores
backend/__pycache__/
backend/models/__pycache__/
backend/**/__pycache__/
backend/.venv
backend/uploads/*
backend/frames/*
backend/keyframes/*

backend/aws_scripts/.venv
backend/aws_scripts/__pycache__/
backend/aws_scripts/**/package
backend/aws_scripts/lambda-*.zip

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
