# python specific ignores
backend/__pycache__/
backend/models/__pycache__/
backend/**/__pycache__/
backend/.venv
backend/uploads/*

aws_s3/.venv
aws_s3/__pycache__/
aws_s3/*/package
aws_s3/lambda-*.zip

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
